.pagination-btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.pagination-btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-btn:hover:not(.disabled) {
  background-color: #3490dc;
  color: white;
}
